<ul class="navbar nav-pills nav-stacked">
  <li class="nav-item">
    <a class="nav-link" routerLink="/stats" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/stats/history" routerLinkActive="active">Training History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/stats/reports" routerLinkActive="active">Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="stats" routerLinkActive="active">Leaderboard</a>
  </li>
</ul>
