<head>
<meta charset="utf-8">
<title>Aim Training - Aim Train</title>
<meta content="initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
<meta content="Enjoy brain training created by scientists and game designers" name="description">
<meta
  content="brain exercises, brain game, brain games, brain power, brain teasers, brain test, brain trainer, brain training, brain training games, braingames, improve memory, intelligence test, luminosity, lumosity, memory game, memory games, mind games, speed game, speed games, test your brain, word bubbles, word games"
  name="keywords">

<!--<link href="https://asset.lumosity.com/resources/home_page_templates/773/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">-->
<link href="https://asset.lumosity.com/resources/home_page_templates/773/touch-icon-iphone-57.png"
      rel="apple-touch-icon-precomposed" sizes="57x57">
<link href="https://asset.lumosity.com/resources/home_page_templates/773/touch-icon-iphone-72.png"
      rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="https://asset.lumosity.com/resources/home_page_templates/773/touch-icon-iphone-114.png"
      rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="https://asset.lumosity.com/resources/home_page_templates/773/touch-icon-iphone-144.png"
      rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="https://asset.lumosity.com/resources/home_page_templates/773/control.css" media="screen, projection, print"
      rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->

</head>
<body class="en landing_pages show">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="logo">
        <a href="" data-track="goto_homepage">
          <!--<img alt="Aim Train Logo" height="31"  src="https://asset.lumosity.com/resources/home_page_templates/773/lumosity_logo.png"  width="125">-->
          <h1>Aim Train</h1>
        </a>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav" id="nav-buttons">
          <li><a routerLink="/login" class="btn btn-primary btn-small" data-track="start_training">Get Started
            Now
          </a></li>
          <li><a routerLink="/login" class="btn btn-inverse btn-small" data-track="log_in">Log in
          </a></li>
        </ul>
      </div>a
    </div>
  </div>
</div>

<section id="static-header">
  <div class="header-text container">
    <div class="wrap">
      <h2>Enjoy aim training games created by scientists and game designers</h2>
      <h5>Start your training with 50+ aim training games today.</h5>
      <a routerLink="/login" class="btn btn-primary" data-track="header_cta">Get Started Now
        <i class="icon-arrow-right icon-position-right icon-white"></i>
      </a>
    </div>
    <div class="down-arrow">
      <img alt="Leftarrow" class="down-arrow" data-track="video_down_arrow"
           src="https://asset.lumosity.com/resources/home_page_templates/773/leftarrow.png">
    </div>
  </div>
  <div class="videocontainer">
    <video autoplay="autoplay" id="floating" loop="loop" preload="">
      <span id="gamesart_webm">
      <span id="gamesart_mp4"></span>
      </span></video>
  </div>

</section>
<section id="training-steps">
  <div class="container">
    <h2>How you'll train</h2>
    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner">
        <div class="item active item">
          <div class="item">
            <img alt="Step_one" src="https://asset.lumosity.com/resources/home_page_templates/773/step_one.png">
            <h3>
              <span class="number">1.</span> Get your baseline</h3>
            <p>Take the Fit Test to get your baseline scores on 3 games. See how you stack up against others your age,
              and take the first step in your training.</p>
          </div>
        </div>
        <div class="item item">
          <div class="item">
            <img alt="Step_two" src="https://asset.lumosity.com/resources/home_page_templates/773/step_two.png">
            <h3>
              <span class="number">2.</span> Complete daily workouts</h3>
            <p>Enjoy daily workouts that challenge 5 core cognitive abilities. Games adapt to your skill level, so
              you’ll always be challenged.</p>
          </div>
        </div>
        <div class="item item">
          <div class="item">
            <img alt="Step_three" src="https://asset.lumosity.com/resources/home_page_templates/773/step_three.png">
            <h3>
              <span class="number">3.</span> Track your scores</h3>
            <p>See your best and worst Aim Train performances, and get insights into your training.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control left" data-slide="prev" data-track="training_steps_carousel_left" href="#myCarousel">
        <img alt="Leftarrow" class="carousel-arrow"
             src="https://asset.lumosity.com/resources/home_page_templates/773/leftarrow.png"></a>
      <a class="carousel-control right" data-slide="next" data-track="training_steps_carousel_right" href="#myCarousel">
        <img alt="Rightarrow" class="carousel-arrow"
             src="https://asset.lumosity.com/resources/home_page_templates/773/rightarrow.png"></a>
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#myCarousel">
        </li>
        <li data-slide-to="1" data-target="#myCarousel">
        </li>
        <li data-slide-to="2" data-target="#myCarousel">
        </li>
      </ol>
    </div>
  </div>
</section>
<section id="science-to-games">
  <div class="container">
    <div class="row">
      <div class="header-text span12">
        <h2>We transform science into delightful games</h2>
        <h5 class="subheader">For decades, researchers have created tasks that measure cognitive abilities. We’ve
          adapted some of these tasks and made some of our own, creating 50+ cognitive games.</h5>
      </div>
    </div>
    <div class="row">
      <div class="center-image span12">
        <img alt="Science_to_games"
             src="https://asset.lumosity.com/resources/home_page_templates/773/science_to_games.png">
      </div>
    </div>
    <div class="row">
      <div class="mobile-image span12">
        <img alt="Science_to_games_mobile"
             src="https://asset.lumosity.com/resources/home_page_templates/773/science_to_games_mobile.png">
      </div>
    </div>
    <div class="blurbs row">
      <div class="sci-to-games-blurb span6">
        <h4>Scientists delve into research</h4>
        <p class="description">Our scientists work side-by-side with our designers. They make sure each game maintains
          the core mechanics of the original task designed to challenge a specific cognitive skill.</p>
      </div>
      <div class="sci-to-games-blurb span6">
        <h4>Game Designers bring to life</h4>
        <p class="description">Our designers and developers add exciting game features and themes while making sure each
          game is accessible, engaging, and challenging to people of all ages.</p>
      </div>
      <div class="row">
        <div class="text-center span12">
          <a href="/landing_pages/next" class="btn btn-primary" data-track="sci_to_games_cta">Get Started Now
            <i class="icon-arrow-right icon-position-right icon-white"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="studies">
  <div class="container">
    <div class="row">
      <div class="header-text span12">
        <h2>Our scientists research the efficacy of Aim Train</h2>
        <h5 class="subheader">We conducted a randomized study on Aim Train, using crossword puzzles as an active
          control.</h5>
      </div>
    </div>
    <div class="row">
      <div class="center-image span12">
        <img alt="Studies" src="https://asset.lumosity.com/resources/home_page_templates/773/studies.png">
      </div>
    </div>
    <div class="row">
      <div class="mobile-image span12">
        <img alt="Studies_mobile" src="https://asset.lumosity.com/resources/home_page_templates/773/studies_mobile.png">
      </div>
    </div>
    <div class="row">
      <div class="studies-blurb span4">
        <h4>What we did</h4>
        <p class="description">Our scientists had 4,715 participants complete the study. Half trained with Aim Train,
          while the rest did online crossword puzzles to control for placebo effects.</p>
      </div>
      <div class="studies-blurb span4">
        <h4>What we found</h4>
        <p class="description">After 10 weeks, the Aim Train group improved more than the crosswords group on an
          aggregate assessment of cognition.</p>
      </div>
      <div class="studies-blurb span4">
        <h4>Next questions</h4>
        <p class="description">These results are promising, but we need to do more research to determine the connection
          between improved assessment scores and everyday tasks in participants’ lives. That’s our next focus.</p>
      </div>
    </div>
  </div>
</section>
<section id="collaborations">
  <div class="container">
    <div class="row">
      <div class="header-text span12">
        <h2>We collaborate with the scientific community</h2>
        <h5 class="subheader">We work with 100+ researchers worldwide, many of whom we give free access to our brain
          training tools — helping them research new areas in human cognition.</h5>
      </div>
    </div>
    <div class="row">
      <div class="center-image span12">
        <img alt="Network" src="https://asset.lumosity.com/resources/home_page_templates/773/network.png">
      </div>
    </div>
    <div class="row">
      <div class="mobile-image span12">
        <img alt="Network_mobile" src="https://asset.lumosity.com/resources/home_page_templates/773/network_mobile.png">
      </div>
    </div>
    <div class="row-fluid">
      <div class="offset1 checks span10">
        <div class="row-fluid">
          <div class="span3">
            <div class="checkmark">
              <img alt="Checkmark" src="https://asset.lumosity.com/resources/home_page_templates/773/checkmark.png">
            </div>
            <div class="separator"></div>
            <li class="blurbs">Free access to Aim Train training</li>
          </div>
          <div class="span3">
            <div class="checkmark">
              <img alt="Checkmark" src="https://asset.lumosity.com/resources/home_page_templates/773/checkmark.png">
            </div>
            <div class="separator"></div>
            <li class="blurbs">Online cognitive assessments</li>
          </div>
          <div class="span3">
            <div class="checkmark">
              <img alt="Checkmark" src="https://asset.lumosity.com/resources/home_page_templates/773/checkmark.png">
            </div>
            <div class="separator"></div>
            <li class="blurbs">Guidance on data analysis</li>
          </div>
          <div class="span3">
            <div class="checkmark">
              <img alt="Checkmark" src="https://asset.lumosity.com/resources/home_page_templates/773/checkmark.png">
            </div>
            <div class="separator"></div>
            <li class="blurbs">Online surveys for participants</li>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="learn-more span12">
        <h4 class="question">Are you a researcher interested in collaborating with us? <a href="/hcp" target="_blank"
                                                                                          class="learn-more">Learn
          More</a>
        </h4>
      </div>
    </div>
  </div>
</section>
<section id="join-us">
  <div class="container">
    <div class="row">
      <div class="center-image span12">
        <img alt="Join" src="https://asset.lumosity.com/resources/home_page_templates/773/join.png">
      </div>
    </div>
    <div class="row">
      <div class="mobile-image span12">
        <img alt="Join_mobile" src="https://asset.lumosity.com/resources/home_page_templates/773/join_mobile.png">
      </div>
    </div>
    <div class="row">
      <div class="header-text span12">
        <h2>Join us on a mission to advance the understanding of human cognition</h2>
        <div class="spacing"></div>
        <h5 class="subheader">70 Million brain trainers in 182 countries challenge their brains with Aim Train — and
          we’re honored to learn from this vibrant global community.</h5>
      </div>
    </div>
    <div class="row">
      <div class="get-started text-center span12">
        <a href="/landing_pages/next" class="btn btn-primary" data-track="join_us_cta">Get Started Now
          <i class="icon-arrow-right icon-position-right icon-white"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<footer class="ftr">
  <div class="container">
    <ul class="nav nav-pills">
      <li><a href="http://www.lumosity.com/about">About</a></li>
      <li><a href="http://www.lumosity.com/contact">Contact</a></li>
      <li><a href="http://www.lumosity.com/jobs">Jobs</a></li>
      <li><a href="http://www.lumosity.com/press">Press</a></li>
      <li><a href="http://www.lumosity.com/legal">Terms of Service</a></li>
      <li><a href="http://www.lumosity.com/legal/privacy_policy">Privacy Policy</a></li>
      <li><a href="http://www.lumosity.com/purchase_family_plan">Family Plan</a></li>
      <li><a href="http://www.lumosity.com/teams" data-track="lft_footer">Teams</a></li>
      <li><a href="http://www.lumosity.com/help">Help</a></li>
    </ul>
  </div>
</footer>
<div class="scripts">
  <script src="https://asset.lumosity.com/resources/home_page_templates/773/application.js"
          type="text/javascript"></script>
</div>
