<div id="top-area">
  <div class="container">
    <div class="row spacer">

    </div>

      <nav class="navbar navbar-toggleable-md">
        <a class="navbar-brand" style="font-family: fantasy; font-size: 2rem;" routerLink="/dashboard">Aiming.Pro</a>
        <ul id="navlinks" class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link m-l-1" routerLink="/dashboard" routerLinkActive="active">Home</a></li>
          <li class="nav-item"><a class="nav-link m-l-1" routerLink="/stats" routerLinkActive="active">Your Stats</a></li>
          <li class="nav-item"><a class="nav-link m-l-1" routerLink="/games" routerLinkActive="active">Games</a></li>
          <li class="nav-item"><a class="nav-link m-l-1" routerLink="/training-plan" routerLinkActive="active">Go Train</a></li>
          <!--<li class="nav-item"><a class="nav-link m-l-1" routerLink="/game" routerLinkActive="active">Play</a></li>-->
        </ul>

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle><i class="fa fa-user" aria-hidden="true"></i> {{auth.userProfile?.given_name}}</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" routerLink="/settings">Account Settings</button>
                <button class="dropdown-item">Invite Friends</button>
                <button class="dropdown-item">Help</button>
                <button class="dropdown-item" routerLink="/login" *ngIf="!auth.authenticated()">Log In</button>
                <button class="dropdown-item" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
              </div>
            </div>
          </li>
          <!--<li class="nav-item "><button type="button" class="btn btn-primary m-l-3">-->
            <!--<i class="fa fa-lock"></i>-->
            <!--Unlock Full Access-->
            <!--<i class="fa fa-arrow-right" aria-hidden="true"></i>-->
          <!--</button></li>-->
        </ul>
      </nav>
    </div>
</div>
