<h2>Account Settings</h2>
<userprofile></userprofile>

<div class="card">
  <div class="card-header">
    <h4>Full Access via Yearly Plan</h4>
    <a href=""> See Other Plans</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Billing Information</h4>
    <p>Auto-Renewal: Yearly</p>
    <p>Card ending in 1234 will be billed £29.95 on November 25, 2017</p>
    <a href="">Manage Billing</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Payment History</h4>
    <a href="">View your payment history</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Login Information</h4>
    <p>Email: a@a.com</p>
    <a href="">Change Password</a>
  </div>
</div>
