<div class="bs-callout bs-callout-success">
  <h4>Unlock Premium and Enjoy</h4>
  <i class="fa fa-2x fa-gamepad p-a-2 primary" aria-hidden="true"></i><span class="lead">All Game Modes</span>
  <i class="fa fa-2x fa-bar-chart  p-a-2 primary" aria-hidden="true"></i><span
  class="lead">Premium Stats and Reporting</span>
  <i class="fa fa-2x fa-calendar-check-o  p-a-2 primary" aria-hidden="true"></i><span class="lead">Full Training Schedule</span>
  <button type="button" class="btn btn-primary m-l-3">
    <i class="fa fa-lock"></i>
    Unlock Full Access
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>
