<div class="card">
  <div class="card-header">
    <h3 class="primary">Training Plan</h3>
  </div>

  <div class="card-block">
    <div class="card m-a-2" style="width:250px; float:left" >
      <img class="card-img-top" src="assets/images/flicktrain.jpg" alt="" style="width:250px;">
      <div class="card-block">
        <h4 class="card-title">Flick Level 3</h4>
        <p class="card-text">In your last 10 games you have had 34% Flick accuracy. Your target for this week is 43%</p>
        <a href="game;m=flick;l=3" class="btn btn-primary">Play</a>
      </div>
    </div>
    <div class="card m-a-2" style="width:250px; float:left" >
      <img class="card-img-top" src="assets/images/tracktrain.jpg" alt="" style="width:250px;">
      <div class="card-block">
        <h4 class="card-title">Track Level 4</h4>
        <p class="card-text">In your last 10 games you have had 58% Tracking accuracy. Your target for this week is 63%</p>
        <a href="game;m=track;l=4" class="btn btn-primary">Play</a>
      </div>
    </div>
  </div>
  <a href="game;m=track;l=4" class="btn btn-primary center-block m-l-3 m-b-3" style="width: 34%;">Start Training <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
