<ul class="navbar nav-pills nav-stacked">
  <li class="nav-item">
    <a class="nav-link" routerLink="/games/all" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">All Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/games/flick" routerLinkActive="active">Flick Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/games/tracking" routerLinkActive="active">Tracking Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/games/challenge" routerLinkActive="active">Challenge Games</a>
  </li>
</ul>
